
  *{
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;
    
}

body {
    
    font-size: 16px;
    font-family:   'Times New Roman', Times, serif;
    
}
h3{
    font-weight: bold;
    font-family: sans-serif;
}
.forecast{
    
    font-size: 0.9em;
}
span{
    font-size: 1em;
}
li:hover{
    background-color: yellow;
    text-decoration: underline;
}
