

* {
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    flex-wrap: wrap; 
    flex-grow: 1; 
    color: rgb(8, 18, 27);
}
body{
    width: 100%;
    height: 100vh;
    margin: 0%;
    background: #6ee3ee;
    font-weight: 300;
    font-size: 20px;
    
}

.weather{
    width: 80%;
    height: 100%;
    margin: 0 auto;
    padding: 20px 0;
    box-sizing: border-box;
    white-space: nowrap;
}

.search {
    width: 100%;
    padding: 15px 10px;
    background-color: beige;
    border: none;
    font-size: 21px;
}

.today {
    color: rgb(78, 114, 145);
    display: flex;
    justify-content: space-between;
}

.image {
    width: 30vmin;
    align-self: center;

}

.city{
    font-size: 36px;
    font-weight: 600;
    margin: 20px 0;
}

.day {
font-size: 30px;
margin: 10px 0;
font-weight: 400;
}

.weather_indicator::before{
    content: '';
    display: inline-block;
    vertical-align: middle;
}

/* .weather_indicator--humidity::before{
    background-image: ;
} */

.temperature{
    font-size: 30px;
    margin-top: 20px;

}

/* .weather_forecast{
    width: 100px;
    text-align: center;
    display: flex;
    /* flex-wrap: wrap;  */
    /* justify-content: space-between; */

/* } */

.icon{
    max-width: 50%;

}
.weather_item{
    background-color: rgb(90, 150, 150);
    border-radius: 10px;
    /* text-align: center;
    justify-content: center;
    /* margin: 50 100px 30px;
    padding: 50px 100px 70px 100px; */
    margin: 20px;
    box-sizing: border-box; 
    color: aliceblue;
    /* width: auto; */
    padding: 20px;
   
    /* probably comment box-sizing out */
    /* max-width: 150px; */
    /* width: calc(20% - 20px); */

}

.forecast{
  display: flex;
  
}